body{
    font-family: '', Arial, sans-serif;
}


.section { text-align: center;  "Microsoft Yahei"; color: #333;}
.section2 { background: url(../images/bj-so_ff09f3c.png) 100%;}
.section3 { background: url(../images/bj-so_ff09f3c.png) 100%;}
.section4 { background: url(../images/bj-so_ff09f3c.png) 100%;}
.section5 { background: url(../images/bg-kj_4d6c383.png) 100%;}






/*.footer {background: #fff ; min-width: 1024px}*/
.footer-link { font-size: 14px ; padding: 30px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee; color: #fff}
.footer-link dl { float: left; width: 19.9%;}
.footer-link dt { line-height: 40px; font-weight: 500;}
.footer-link dd { line-height: 28px; font-size: 12px}
.footer-link a { color: #fff; text-decoration: none;}
.footer-link a:hover { color: #31a5e7;}
.footer>p { font-size: 12px; text-align: center ;}




