body {
  background: #f5f5dc;
}
body p {
  font-size: 20px;
  text-align: center;
}
body #icon,
#bar,
#word,
#pie,
#migration{
  min-width: 320px;
  min-height: 568px;
  margin: 0;
}
#migration{
  min-width: 320px;
  min-height: 800px;
  margin: 0;
}